* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HelveticaNeue-Thin, Helvetica, Arial, sans-serif;
    /* background-color: #D02A32; */
}

.main {
    max-width: 80%;
    margin: 0 auto;
}

/* ----- Navbar ----- */
.navbar, .navbar-light {
    background-color: #0255A3;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

/* ----- Footer ----- */
.footer {
    clear: both;
    bottom:0;
    text-align: center;
    padding: 20px;
    padding-bottom: 100px;
}

.link, .link:hover {
    color: black;
}

/* ----- Select Player ----- */
/* .search {
    display: flex;
    align-items: center;
    margin: 30px;
}

#input, #submit {
    margin: 5px;
} */

.dropdown {
    text-align: center;
    margin: 30px auto;
}

.dropdown-toggle {
    background-color: #0255A3;
    color: white;
}

.btn-outline-dark {
    font-weight: bold;
}

.btn-outline-dark:hover {
    background-color: #0255A3;
    color: white;
    font-weight: bold;
}

.dropdown-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

/* ----- Player Profile ----- */
.profile {
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    max-width: 80%;
}

.profile h3 {
    font-weight: bold;
}

.table {
    margin: auto;
    border: 5px solid #0255A3;
    padding: 20px;
}

.table-hover th {
    text-align: left;
}

#playerPoints, #playerRebounds, #playerAssists {
    height: 400px;
}

/* ------------------------------------------------------------------*/

/* Mobile Styles */
@media only screen and (max-width: 650px) {
    #selectedPlayer {
        margin: 5px;
    }

    .profile {
        margin: auto;
        max-width: 95%;
    }

    #playerPoints, #playerRebounds, #playerAssists {
        height: 350px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 651px) and (max-width: 900px) {
    .profile {
        max-width: 80%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 901px) {
    .table {
        max-width: 60%;
    }
}